<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
        <input type="text" name="user_id" placeholder="ID를 입력하세요" class="form-control">
        <input type="password" name="password" placeholder="패스워드를 입력하세요" class="form-control" >
        <input class="btn login_btn" type="submit" value="접속하기">
</form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <div>
        회원이 되시겠습니까? <a href="{% url 'register' %}">가입하기</a>
    </div>

    <div>
        비밀번호를 잊으셨습니까? <a href="{% url 'reset_password' %}">비밀번호 찾기</a>
    </div>


</body>
</html>